.ToDo{
    margin: 15px;
}
.task{
    text-align: center;
    text-decoration: none; 
}
.task1{
    text-align: center;
    border: 1px solid red !important;
}
.colCard{
    margin-top:15px;
}
.input{
    width: 100% !important; 
}
.textarea{
    width: 100% !important;
    margin: 10px 0px !important;
}